# History files
.Rhistory
.Rapp.history

# RStudio files
.Rproj.user/
*.proj
*.Rproj

# intermediate rmarkdown/pandoc/latex files
#extra1.tex
#extra2.tex
*_files

# produced vignettes
vignettes/*.html
vignettes/*.pdf
.Rproj.user
